@media (max-width:1200px) {
    .section__block,.footer__block{
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-around;
    }
}
@media (max-width:992px) {
    .header__nav{
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;
    }
}
@media (max-width:768px) {
    .intro__title{
        font-size: 35px;
        padding: 17px 20px;
        text-align: center;
    }
    .intro__link{
        padding: 12px 20px;
    }
    .header__list{
        flex-wrap: wrap;
    }
}
@media (max-width:576px) {
    .footer__block{
        justify-content: flex-start;
    }
    .section__text{
        width: 90%;
    }
}